# See https://help.github.com/articles/ignoring-files.

# dependencies
/node_modules
/.pnp
.pnp.js

# JetBrains IDE files (VS Code, etc.)
.idea/
.vscode/settings.json
*.swp
*.swo

# testing
/coverage

# Next.js
.next/
out/

# production builds
/build
/dist

# environment variables
.env*.local
.env

# logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store

# misc
*.pem
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
