@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-950 text-white antialiased;
  }
}

@layer components {
  .nav-link {
    @apply px-3 py-2 text-slate-400 hover:text-white transition-colors;
  }
  .nav-link.active {
    @apply text-white font-semibold;
  }
}


